.MainTitle {
    /* font-size: calc(10px + 1.2vmin); */
    font-weight: bold;
    /* border-radius: 8px; */
    margin-left: 15vh;
    margin-top: 20px;
}

.pwbi {
    width: 100%;
    left: -50%;
    height: 100%;
    overflow-x: hidden;
}

.embebed_pbi {
    size: inherit;
    width: 180vh;
    height: 100vh;
    border: 0;
    outline: none;
    box-shadow: 12px 12px rgb(77, 2, 77);
}
