header {
     padding-left: 1%;
     padding-right: 1%;
     padding-top: 2%;
}

#title {
     color: #2a22f0;
     float: left;
     font: Lighter 30px Segoe UI;
}

#mainBody {
     overflow: hidden;
     position: fixed;
     top: 0;
     left: 0;
     /* background-color: #ffffff; */
     /* box-shadow: 0px -3px 10px 0px rgb(0 0 0 / 25%); */
     width: 100%;
     height: 95%;
     padding-top: 0;
     padding-bottom: 0%;
     vertical-align: middle;
     background-color: rgb(107, 234, 243);
     padding-top: 0;
}

.ACN_tr_logo {
     position: absolute;
     right: 0px;

     width: 8%;
     margin: 5% 8%;
     /* padding-top: 0px;
     padding-left: 5%;
     padding-right: 5%; */
}

#GBeaconBackground {
     background-image: url("../../resources/images/GBeacon/Home_page.svg");
     background-repeat: no-repeat;
     background-size: auto 100%;
     background-position-x: center;
     height: 100%;
     width: 100%;
}

#MainTitle {
     padding-left: 40%;
     padding-top: 15%;
}

#smallWhiteText {
     color: #ffffff;
     font-size: 15pt;
}

#bigWhiteText {
     font-size: 60pt;
     line-height: 50pt;
     font-weight: bold;
}

#blueSubtext {
     color: #0d83a0;
}

.buttonsPosition {
     margin-top: 5%;
     padding-left: 40%;
}

#leftButton {
     margin-left: 0%;
}

.L-button {
     /* float: left;*/
     /* display: block; */
     display: inline;
     background-color: transparent;
     color: rgb(255, 255, 255); /* White text color */
     text-align: center; /* Center the text */
     padding: 11px 25px; /* Add some padding */
     text-decoration: none; /* Remove underline */
     border-radius: 15px;
     border: solid white;
     margin: 20px;
     margin-top: 5%;
}

.L-button:hover {
     color: #a115ff !important;
     border-color: #a115ff;
     /* background-color: #8a4daf !important; */
     text-decoration: none; /* Remove underline */
}

#aFooter {
     margin-left: 15%;
}

.iconBump {
     margin-bottom: 0px;
}

.footer {
     overflow: hidden;
     position: fixed;
     bottom: 0;
     left: 0;
     background-color: #ffffff;
     box-shadow: 0px -3px 10px 0px rgb(0 0 0 / 25%);
     width: 100%;
     height: 5%;
     padding-top: 1.5%;
     padding-bottom: 1%;
     vertical-align: middle;
}

.footer a {
     float: left; /* Make sure that the links stay side-by-side */
     display: block; /* Change the display to block, for responsive reasons (see below) */
     color: grey; /* White text color */
     text-align: center; /* Center the text */
     padding: 0px 15px; /* Add some padding */
     text-decoration: none; /* Remove underline */
     border-radius: 5px;
     background-color: transparent;
     margin-top: 0;
     fill: rgb(161, 161, 161); /* Makes the icon gray */
}

.footer a:hover {
     color: black !important;
     fill: rgb(0, 0, 0); /* Makes the icon black */
     /* background-color: #7500c0; */
}

.footer span {
     padding: 0px 0px;
     margin: 0;
}
.footer button {
     float: left; /* Make sure that the links stay side-by-side */
     display: block; /* Change the display to block, for responsive reasons (see below) */
     color: grey; /* White text color */
     text-align: center; /* Center the text */
     padding: 0px 15px; /* Add some padding */
     text-decoration: none; /* Remove underline */
     border-color: transparent;
     border-radius: 5px;
     background-color: transparent;
     margin-top: 0;
     fill: rgb(161, 161, 161); /* Makes the icon gray */
}

.footer button:hover {
     color: black !important;
     fill: rgb(0, 0, 0); /* Makes the icon black */
     /* background-color: #7500c0; */
}

.footer span {
     float: left; /* Make sure that the links stay side-by-side */
     display: block; /* Change the display to block, for responsive reasons (see below) */
     text-align: center; /* Center the text */
     padding: 0px 0px; /* Add some padding */
}

/* Right-aligned link */
.footer p {
     /* float: right; */
     /* display: block; Change the display to block, for responsive reasons (see below) */
     color: grey; /* White text color */
     text-align: right;
     right: 0;
     padding-inline-end: 20px;
}
