.SidePanel {
     height: 100%;
     width: 250;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
}

.PannelButton {
     background-color: transparent;
     border: none;
     color: rgb(0, 0, 0);
     padding: 5px 20%;
     text-align: left;
     text-decoration: none;
     display: inline-block;
     font-size: calc(10px + 1.2vmin);
     font-weight: bold;
     /* border-radius: 8px; */

     margin: 1px;
     width: 100%;
     text-decoration: none !important;
     /* height: 100%; */
     /* position: absolute; */
}

#welcome {
     left: 0;
     margin-bottom: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 0%;
     margin-left: 0;
}

.PannelButton:hover {
     background-color: rgb(175, 6, 175);
     color: rgb(255, 255, 255);
     font-size: calc(11px + 1.2vmin);
}
.PannelButton:active {
     background-color: rgb(190, 69, 190);
     color: rgb(255, 255, 255);
     font-size: calc(11px + 1.2vmin);
}

.SB-logo {
     padding-left: 25%;
     padding-bottom: 20px;
     width: 50%;
     pointer-events: none;
}
