/* Split the screen in half */
.splitleft {
    height: 100%;
    width: 15%;
    min-width: 30vh;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: rgb(235, 223, 234);
}

.splitright {
    height: 100%;
    width: 85%;
    max-width: calc(100% - 30vh);
    position: fixed;
    z-index: 1;
    top: 0;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    /* padding-top: 20px; */
    right: 0;
    background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}
